body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #1e252d;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}


/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
}


/* Type */

html {
    font-size: 16pt;
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 11pt;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 10pt;
    }
}

body {
    color: white;
}

body,
input,
select,
textarea {
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.375;
}

a {
    -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-bottom: dotted 1px;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
}

strong,
b {
    font-weight: 600;
}

em,
i {
    font-style: italic;
}

p#vision {
    width: 100vw !important;
}

p {
    text-align: justify!important;
    margin: 0 0 2rem 0!important;
    width: 256px!important;
    word-wrap: break-all!important;
}

div.description {
    margin: 1rem
}

.bios {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.075em;
    margin: 0 0 1rem 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    border-bottom: 0;
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    line-height: 1.1;
    margin: 0 0 2rem 0;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.3;
    margin: 0 0 1.5rem 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0 0 1.5rem 0;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.8rem;
}

sub {
    font-size: 0.8rem;
    position: relative;
    top: 0.5rem;
}

sup {
    font-size: 0.8rem;
    position: relative;
    top: -0.5rem;
}

blockquote {
    border-left: solid 4px;
    font-style: italic;
    margin: 0 0 2rem 0;
    padding: 0.5rem 0 0.5rem 2rem;
}

code {
    border: solid 2px;
    font-family: "Courier New", monospace;
    font-size: 0.9rem;
    margin: 0 0.25rem;
    padding: 0.25rem 0.65rem;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1rem 1.5rem;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 2px;
    border-color: #1e252d;
    margin: 3rem 0;
}

hr.major {
    margin: 5rem 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

input,
select,
textarea {
    color: #212931;
}

a {
    color: white;
    border-bottom-color: rgba(33, 41, 49, 0.5);
}

a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important;
}

strong,
b {
    color: #F5F5DC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

#image img {
    display: block;
    margin: 4rem 0;
    width: 128px;
    height: 128px
}


/*  
style="width:128px;height:128px;"
*/